{% extends "webapp/layout.html" %}

{% block content %}

<h1><strong>Introduction</strong></h1>
    <p>Few youths could not stay passive and see what was going through in the field of education in Nepal, especially the child education sector. After, feeling the responsibility they bear towards making the odds go even, they shared their ideas with few more enthusiasts and, then the beginning was made as the Aarambha Foundation. 
    </p>
    
    <p>Aarambha Foundation (AF), NGO, Registration no.: 54/072/073, is a non-profit, non-governmental and socially responsible organization working for child welfare and child rights. The primary focus of the organization is to bring every child of the nation to the light of education and to help then uplifting them through personal and behavioral development. The organization believes nothing is impossible if we take a lead to work for it “Together We Can” and has the slogan “Our Small Beginning for the Change”.
    </p>
    
    <p>Legally registered on 3rd August 2015, Aarambha Foundation has been giving its contribution generally in the society and specifically in the sector of education from then. Before the registration, the Foundation was indirectly involved in awareness campaigns, Bagmati Cleaning Programs and psycho social counseling. Since the establishment, having its primary focus in children, the Foundation has also organized different events like Promoting Handicrafts for cause, Lighting Candles for marking the April quake, celebrating the colors of Holi with the underprivileged group and many more.
    </p>
    
    <p>Aarambha Foundation’s major accomplishment is a 3 months long  Free Tuition Campaign for the economically backward group of students from Grade 6 – 8 at Shree Baal Rastriya Lower Secondary School, Gothataar, Kathmandu. Similarly, materials distribution to the entire Grade at the closing of 1st session of Free Tuition Campaign is to be marked too. 
    </p>
    
    <p style="justify">
        Now, Aarambha is launching a long term Project “School Re-enrollment and Prevention Project” to bring back he dropouts back to academic education and prevent dropouts through counseling and realizing the importance of education in todays’ world.
From the beginning, Aarambha is actively doing its responsibilities and meeting its objective. The main reason beyond this is the super enthusiastic and dedicated team it has. Students from Medical, Engineering, Management, Social work and Basic Sciences background have united together with the self-realization of their responsibility towards the society they live in and the nation they belong to. The urge to help the needy ones lies in every member of the Aarambha Family and with the team of Aarambha, together we can.
    </p>

{% endblock %}
