{% extends "webapp/layout.html" %}

{% block content %}
 <h1 class="text-center">Freuently Asked Question</h1>
<h4>1. What is Aarambha Foundation?</h4>
Aarambha Foundation is a Non Profit making, NonGovernmental
Social motive Organization working in the field
of child welfare especially in the sector of Child education of the underprivileged group.
<h4>2. Is Aarambha Foundation formally registered?</h4>
Yes, Aarambha Foundation is formally registered under NGO registration act 2034 on 3rd August, 2015 at
District Administration Office, Babarmahal Kathmandu with registration number 54/072/073.
<h4>3. Is Aarambha Foundation affiliated to Social Welfare council?</h4>
Yes, it is affiliated to social welfare council with Affiliation Number 42277.
<h4>4. How does Aarambha Foundation work?</h4>
It works with the coordination of Executive board Members, General members, Advisors and well wishers. In
every projects and events, we form a committee including all the interested members where a general member
can also be the program coordinator.
<h4>5. How can I help Aarambha Foundation?</h4>
You can help Aarambha Foundation through many ways:
By involving yourself as a general member or as a volunteer
By sharing our projects and events to your friend or simply donating funds to our different projects.
By supporting and encouraging us in our Projects and events.
By suggesting us the better ways to do our part more effectively.
<h4>6. Who can be a member or volunteer?</h4>
Any enthusiastic and dedicated Nepalese individual over 18 years of age, who wants to contribute in bringing
positive impact in the social issues are welcome to be the family of Aarambha Foundation.
<h4>7. How can Aarambha Foundation help me?</h4>
Aarambha Foundation focuses on the personality development of the members besides its children based
projects. It organizes different teamwork, leadership based training, and learn and fun activities time to time for
the members as well as volunteers. We discuss social issues and propose solutions and even reach to
authorities to take actions. We do works in fun way and we learn life lessons in the funnier and memorable way.
Once you get into you will fall for the way we work.
Certificate of Appreciation is provided to the volunteers after the completion of assigned volunteer task by the
foundation.
<h4>8. How can I contact Aarambha Foundation?</h4>
You can contact Aarambha Foundation through email, Facebook or any contact numbers provided to you.<br/>

<br/>
<address>
    <strong>Address</strong><br/>
<a href="mailto:we.aarambha@gmail.com"> we.aarambha@gmail.com</a><br/>
<a href="we.aarambha@gmail.com">www.facebook.com/aarambhafoundation</a><br/>
9844676940, 9846417432, 9843703752<br/>
</address>
{% endblock %}
