{% extends "webapp/layout.html" %}

{% block content %}

Who we are:
We are the ini듋Ƹators of the change we can.
A group of enthusias듋Ƹc youngsters who have a strong determina듋Ƹon to work for a cause. With the common
understanding and feeling of selflessness glued together with the determina듋Ƹon to do the responsibility
towards mankind ,we stand to share a part of our life to transform the exis듋Ƹng society into the be䨁᠉er,
beau듋Ƹful and produc듋Ƹve one. Our vision are clearly depicted by the tagline “Together we can” and the slogan
“Our Beginning for the Change”. We have started reaching few lives and are on the way to reach thousands
and see the mys듋Ƹcal smile.
We want to share the brightest smile and reach to thousand hearts with the change we bring.
What we do:
We have few of the seen and marked objec듋Ƹves to reach our goal. The primary focus of the organiza듋Ƹon is to
bring each and every children of the na듋Ƹon to the light of educa듋Ƹon and then, upli魏 them through personal
and behavioral development.
Our objec듋Ƹves are:
1. To be nonprofit
oriented, public welfare and social organization.
2. To ensure child rights.
3. To plan the programs for the overall development of the children and implement them.
4. To organize different awareness programs related to child rights in local and national level.
5. To take the necessary steps in accommodating and educating the orphan and helpless
children.
6. To help in protecting the children from harassment, labour, street issues and to promote
them accordingly.
7. To help in protecting the Civil rights rights
to education and health of the children of poor
economic background.
8. To organize awareness program in the collaboration of local, national and international
organization.
9. To go to the foreign to attend training taking permission from authorized authorities.
10. To organize different seminars, meetings, trainings taking permission from the concerned
authorities of Nepal Government.
11. To save children from Drug addiction and raise awareness against Drug addiction via different
programs.

12. To organize trainings to the Parents and Guardians and help them understand their child’s
psychological development and problems.
13. To organize various events and program to help children show their talents and improve their
capabilities.
14. To open and operate a child friendly library after taking permission from the authorized
department of Nepal Government.
15. To encourage youths to work in the sector of child welfare and education.
16. To take guardianship and care the victim children of Natural disasters, violence, conflicts and
war.
17. To aware children about health and environment through their involvement in related
programs.
These are the listed ones. Besides them, we work for any needed issue and cause in the society. On further
working, the objec듋Ƹves will be broadened and modified as the 듋Ƹme asks for.



{% endblock %}
