{% extends "webapp/layout.html" %}

{% block content %}

<h1 class="text-center">What We Do</h1>
<div class="text-justify">
<p>We have few of the seen and marked objectives to reach our goal. The primary focus of the organization is to
bring each and every children of the nation to the light of education and then, uplift them through personal
and behavioral development.</p>
<h4>Our objectives are:</h4>
1. To be nonprofit<br/>
oriented, public welfare and social organization.
2. To ensure child rights.<br/>
3. To plan the programs for the overall development of the children and implement them.<br/>
4. To organize different awareness programs related to child rights in local and national level.<br/>
5. To take the necessary steps in accommodating and educating the orphan and helpless
children.<br/>
6. To help in protecting the children from harassment, labour, street issues and to promote
them accordingly.<br/>
7. To help in protecting the Civil rights rights
to education and health of the children of poor
economic background.<br/>
8. To organize awareness program in the collaboration of local, national and international
organization.<br/>
9. To go to the foreign to attend training taking permission from authorized authorities.<br/>
10. To organize different seminars, meetings, trainings taking permission from the concerned
authorities of Nepal Government.<br/>
11. To save children from Drug addiction and raise awareness against Drug addiction via different
programs.<br/>
12. To organize trainings to the Parents and Guardians and help them understand their child’s
psychological development and problems.<br/>
13. To organize various events and program to help children show their talents and improve their
capabilities.<br/>
14. To open and operate a child friendly library after taking permission from the authorized
department of Nepal Government.<br/>
15. To encourage youths to work in the sector of child welfare and education.<br/>
16. To take guardianship and care the victim children of Natural disasters, violence, conflicts and
war.<br/>
17. To aware children about health and environment through their involvement in related
programs.<br/>
<p>These are the listed ones. Besides them, we work for any needed issue and cause in the society. On further
working, the objectives will be broadened and modified as the time asks for.</p>
</div>
{% endblock %}
