
{% extends "webapp/layout.html" %}

{% block content %}

<h1 class="text-center">Who We Are</h1>
<div class="text-justify">
<p>We are the initiators of the change we can.</p>
<p>A group of enthusiastic youngsters who have a strong determination to work for a cause. With the common
understanding and feeling of selflessness glued together with the determination to do the responsibility
towards mankind ,we stand to share a part of our life to transform the existing society into the better,
beautiful and productove one. Our vision are clearly depicted by the tagline “Together we can” and the slogan
“Our Beginning for the Change”. We have started reaching few lives and are on the way to reach thousands
and see the mystical smile.</p>
<p>We want to share the brightest smile and reach to thousand hearts with the change we bring.</p>
</div>

{% endblock %}
