{% extends "webapp/layout.html" %}

{% block content %}
<!--<head>
    <style>
            
          
         
            .anim{
                animation:anim 15s normal;}
            
            @keyframes anim{
                0%{color: yellow;}
                25%{color:red;}
                50%{color: green;}
               75%{color: lightgoldenrodyellow;}
                100%{color: deeppink;}
            }
            
             
            </style>
    </head>-->
<div>
   <p> <strong><h1>Sorry!</h1></strong></p>
    <p><h2>We are working on this resources you were looking.</h2></p>
    
    <!--<div class="anim" >
        
        <h2>Loading</h2>
        
        </div>-->
    
    </div>
    

{% endblock %}
